@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,700');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

:root {
	--accent: #15538a;
	--primary: #00303F;
	--secondary: #7A9D96;
	--tertiary: #CAE4DB;
	--accenttwo: #F7F9FB;
}

section::before,
section::after {
	position: absolute;
	content: '';
	pointer-events: none;
}

section {
	position: relative;
	padding: 10em 10%;
	color: #fff;
	text-align: center;
}


body {
	margin: 0;
	padding: 0;
    font-family: 'Josefin Sans', sans-serif;
	min-width: 100%;
	color: #010;
	font-size: 1.1em;
	background: linear-gradient(-45deg, var(--accent),var(--accenttwo));
}

.background-div{
	background-image: url('https://www.rpnation.com/gallery/parchment-paper-div-test.33588/full');
	background-repeat: repeat;
}

.color-div-1{
	background-color: var(--secondary);
}

/*.container-fluid{
	padding: 0;
}*/

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}

h1,h2,h3,h4,h5,h6{
	color: var(--primary);
	font-family: 'Comfortaa', sans-serif;
}

a {
	color: var(--primary); 
}

a:hover {
	color: var(--secondary);
	text-decoration: none;
	transition: .5s;
}

input {
	border: none;
	font-size: 1.5em !important;
}

svg {
	color: gray
}

ul {
	list-style: none;
}

table {
	table-layout: fixed;
	width: 100%
}

td {
	overflow-wrap: break-word;
}

p{
    background-color: rgb(255,255,255,0.7);
    padding: 20px;
	/*border-radius: 10px;*/
	border: 1px lightgrey solid;
	box-shadow: 3px 3px rgb(0,0,0,0.7);
}

img {
	/*border-radius: 10px;*/
	/* border: 1px lightgrey solid; */
}

h1 {
	font-size: 3.5em;
}

.decorated-link{
	color: #17a2b8;
}

/* helper classes */

.m0{
	margin: 0;
}

.p0{
	padding: 0;
}

.category-list{
    padding: 0 20px 20px 20px;
	background-color: rgb(255,255,255,0.85);
	border: 1px lightgrey solid;
	box-shadow: 3px 3px rgb(0,0,0,0.7);

}

.category-list h4{
	padding: 10px;
	text-align: center;
}
.promo {
	font-size: .75em;
}

.promo .alert {
	padding: 0;
	/* background-color: var(--tertiary); */
	/* border-color: var(--tertiary); */
	border: 0;
	background: linear-gradient(180deg, var(--secondary),var(--accenttwo));
	border-radius: 0;
}
.main-photo {
	{/*	background-image: url("https://spark.adobe.com/page/M8baiX0WWgKwv/images/5d2ddb25-4ca3-44e4-b560-8ef36246e429.png?asset_id=b0653427-457f-4a6f-84dc-ac7ee476ab2f&img_etag=c7de62aa427f90ccb8358324c249a344&size=2560");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;*/}
	margin-top: -30px;
	height: 900px;
}

.close {
	margin: 5px;
}

.main-photo-text {
	padding: 50px 0 200px 0;
	text-align: center;
}

.main-photo-text h1 span, .main-photo-text h3 span{
	color: whitesmoke;
	background-color: rgb(80, 80, 80, 0);
	padding: 7px;
	border-radius: 10px;
	box-decoration-break: clone;
}

.main-photo img {
	margin-bottom: 25px;
}

.main-subtitle {
	width: 50%;
	margin-left: 25%;
	text-align: center;
}

.narrow-section {
	padding: 0 10% 0 10%;
	min-height: 200px;
	background-color: var(--accenttwo);
}

.svg-inline--fa{
	margin-left: 5px;
}

#header, #footer, .made-by{
	background-color: var(--accenttwo);
}

#header {
	min-height: 85px;
}

.navbar-toggler {
	border: none;
	float: right;
	margin-top: -15px;
}

.alert h4{
	margin-left: 20px;
}

#footer {
	margin-top: -50px;
	padding: 20px 20px 0 20px;
}

#footer p {
	border: none;
}

#content {
	padding-bottom: 50px;
}

.product-info {
    background-color: rgb(255,255,255,0.8);
}

.product-info p, span {
	background: none;
	background-color: none !important;
	margin: none !important;
 	padding: 0 !important;
	border: none !important;
	font-size: 1em !important;
	box-shadow: none !important;
    font-family: 'Josefin Sans', sans-serif !important;
}

.product-info ul, .product-info li {
	list-style: disc !important;
}

.product-details-container{
	/*background-image: url('https://i.imgur.com/rbigpx3.jpg');*/
	background-image: url('https://i.imgur.com/5sr9J2u.jpg');
	background-attachment: fixed;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

.product-details-container button{
	margin-top: 20px;
}
/*.product-name{
	margin: 20px;
}*/

.product-name h2, .product-name h3{
/*	width: 50%;
	margin-left: 25%;
	color: whitesmoke;
	background-color: rgb(80, 80, 80, 0.7);*/
	margin-top: 20px;
	margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(255,255,255,0.8);
	width: 100%;
}

.page-title {
	margin-top: 20px;
	margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(255,255,255,0.8);
}

.aboutus {
	background-image: url('https://i.imgur.com/lgXXFeZ.jpg');
	background-attachment: fixed;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

.aboutus p {
	font-size: 1.5em;
}

.aboutus h2 {
	margin-top: 20px;
	margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(255,255,255,0.6);
	width: 100%;
	/*margin-left: 25%;
	margin-top: 20px;*/
}

.aboutus-row{
	margin-left: 15%;
	margin-right: 15%
}

.blog{
	/*background-image: url('https://i.imgur.com/5sr9J2u.jpg');*/
	background-image: url('https://i.imgur.com/PaMGYyw.jpg');
	background-attachment: fixed;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;}

.blog-row{
	margin-left: 15%;
	margin-right: 15%
}

.blog-row h1{
	background-color: rgb(255,255,255,0.8);
	width: 50%;
	margin-left: 25%;
	margin-top: 20px;
}

.blogpost, .pagination-container {
    background-color: rgb(255,255,255,0.85);
    padding: 20px;
	border: 1px lightgrey solid;
	box-shadow: 3px 3px rgb(0,0,0,0.7);
	margin-bottom: 20px;
}

.pagination-container {
	display: inline-block;
}

.faq{
	background-image: url('https://i.imgur.com/xzoO38l.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;}

.faq-row{
	margin-left: 15%;
	margin-right: 15%
}

.carousel{
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
	/* max-width: 500px; */
	/* max-height: 500px; */
}

.home-container {
	margin-top: -1.5%;
	background-image: url("https://i.imgur.com/G5XHzbD.jpg");
	background-attachment: fixed;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

.product-image img{
	max-width: 100%;
}

.product-image {
	/*padding: 0 10px 50px 10px;*/
}

.pagination {
	margin: 5px;
	display: inline;
}

.made-by{
	font-size: .7em;
}

.btn-primary{
	background-color: var(--accent);
	color: white;
	border: none;
}

.btn-primary:hover{
	background-color: var(--accenttwo);
	color: var(--primary);
}

.btn-primary:focus{
	background-color: var(--tertiary);
	color: var(--primary);
}
/*.dropdown:hover > .dropdown-menu {*/
/*    display: block;*/
/*}*/
/*.dropdown > .dropdown-toggle:active {*/
/*    /*Without this, clicking will make it sticky*/
/*    pointer-events: none;*/
/*}*/

/* >:( stupid recaptcha lib... */
.recaptcha-wrapper > div > div > div {
	height: auto !important;
	width: auto !important;
}

/* The ribbons */

.corner-ribbon{
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  z-index: 1;
  font-size: .85em;
  text-align: left;
  padding-left: 45px;
  font-weight: bold;
}

/* Custom styles */

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-left{
  top: 0px;
  left: -50px;
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
}

.corner-ribbon.top-right{
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-left{
  top: auto;
  bottom: 25px;
  left: -50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-right{
  top: auto;
  right: -50px;
  bottom: 25px;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.ribbon-text{
	position: relative;
	top: 10px;
	font-size: .8em;
}

.corner-ribbon.red{background: #e43;}

/* mobile styles */
@media (max-width: 576px) {

	.carousel{
		padding-left: 0;
		padding-right: 0;
	}

	#footer .col-12 {
		padding-bottom: 20px;
	}

	.main-photo-text span {
		line-height: 1.75em;
	}

	.map iframe {
		max-width: 100%;
		margin-top: 50px;
	}
	.socials, .nav-brand {
		text-align: center;
	}
	.nav-brand h4 {
		padding-left: 20%;
	}
	.navbar-collapse{
		max-width: none;
	}
	.dropdown-menu{
		border: none;
		background-color: var(--accenttwo);
	}
	.Collapsible {
		cursor: pointer;
		text-align: right;
		width: 100%;
		padding: 0 20px 20px 20px;
	}

	.Collapsible__contentInner, ul {
		padding: 0;
	}

	.is-closed:after {
		content: ' ▼';
	}

	.is-open:after {
		content: ' ▲';
	}

}

/* page specific styles */
#product-page {
	background-image: url("https://i.imgur.com/YRZyR8Z.jpg");
	background-position: bottom;
	margin-bottom: 50px;
}

.product-detail-left {
	position: fixed;
	margin-left: 40%;
	margin-top: 120px;
	width: 31.5%;
}

.product-detail-right {
}

.product-detail-left img {
	width: 100%;
	box-shadow: 10px 10px rgb(0,0,0,0.5);
}

.get-educated-page {
	background-image: url("https://i.imgur.com/xHBBNGo.jpg");
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
}

.get-educated-page p {
	background-color: rgba(255, 255, 255, 0.9) !important;
}

.contact-page {
	background-image: url('https://i.imgur.com/uVTBtwX.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.contact, .map-container iframe, .map-container h6, .contact-page h5 {
	background: 10px 10px rgb(255,255,255,0.7);
	box-shadow: 10px 10px rgb(0,0,0,0.5);
	padding: 20px;
	margin: 20px;
}


